{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
        background-color: gray;
    }
</style>
    
    <body>
        <br><br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h2> <i class="fa fa-address-book"> </i> Profile Management</h2>
        </div>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Update your details</h3>

            <hr>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ user_form.username|as_crispy_field }}
                {{ user_form.email|as_crispy_field }}                

                <br><br>
                <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Update your account</button>
            </form>
        </div>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Delete my account</h3>
            <hr>
            <p>Proceed if you wish to delete your account.</p>
            <a class="btn btn-danger  navbar-btn text-white" type="button" href={% url 'delete-account' %}> <i class="fa fa-minus-circle" aria-hidden="true"></i> &nbsp; Delete my account </a>
            <br>
        </div>
    </body>

{% endblock content %}


